 ##  pandas و SQL بار گذاری داده ها در پایگاه داده و کندوکاو در داده با

----

In [ ]:
# %conda install PyMySQL -y
# %conda install ipython-sql -y
#!pip install jupysql duckdb-engine

In [2]:
import pandas as pd
import numpy as np

import pymysql
import sqlalchemy
from sqlalchemy import create_engine

In [ ]:
# SQL فراخوانی مجیک فانکشن کار با 
%load_ext sql

In [ ]:
# ایجاد کانکشن با پایگاه داده
%sql mysql+pymysql://root:*****@localhost

In [ ]:
# تست کانکشن 
%sql show databases

In [ ]:
%%sql
    
create database spacex_data_base;
use spacex_data_base;

In [6]:
df=pd.read_csv("dataset_part_1.csv")
df.head(10)

In [ ]:
# میزان مقادیر گم شده به درصد
df.isnull().sum()/len(df)*100

In [ ]:
# نوع دادها
df.dtypes

In [ ]:
# تعداد سایت های پرتاب
df["LaunchSite"].value_counts()

In [ ]:
# تعداد مدارهای هدف
df["Orbit"].value_counts()

In [12]:
# گروه بندی نتیجه پرتاب ها به دو دسته 0 و 1
landing_class = []

landing_outcomes = df["Outcome"].value_counts()

#for i,outcome in enumerate(landing_outcomes.keys()):
  #  print(i,outcome)

bad_outcomes=set(landing_outcomes.keys()[[1,3,5,6,7]])

for i in df["Outcome"]:
    if i in bad_outcomes:
        x = 0
    else:
        x = 1
    landing_class.append(x)
    
#print(landing_class)

In [ ]:
# یک ستون جدید به دادها اضافه می کنیم
df['Class']=landing_class
df[['Class']].head(8)

In [ ]:
# بررسی میزان موفقیت پرتاب ها به طور کلی
df["Class"].mean()

In [ ]:
# دریافت خروجی از دادها
df.to_csv("dataset_part_2.csv", index=False)

In [ ]:
# بارگذاری داده ها به پایگاه داده
engine = create_engine('mysql+pymysql://root:91361017@localhost/spacex_data_base')
df.to_sql("SPACEXTBL", if_exists='replace', index=False,method="multi", con = engine)

In [ ]:
# ایجاد یک جدول جدید با شطر این که حاوی مقدار تهی نباشد
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [ ]:
%sql select distinct(Launch_Site) from spacextbl

### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [ ]:
%sql select*from spacextbl where Launch_Site like "cca%" limit 5

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [ ]:
%sql select sum(PAYLOAD_MASS__KG_) from spacextbl where customer="NASA (CRS)"

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [ ]:
%sql select avg(PAYLOAD_MASS__KG_) from spacextbl where Booster_Version="F9 v1.1"

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

In [ ]:
%%sql 
SELECT
  Landing_Outcome,
  DATE
FROM
  spacextbl
WHERE
  Landing_Outcome = "Success (ground pad)"

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [ ]:
%%sql 
SELECT
  Payload,
  Landing_Outcome,
  PAYLOAD_MASS__KG_
FROM
  spacextbl
WHERE
  Landing_Outcome = "Success (drone ship)"
  AND (PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000)
ORDER BY
  PAYLOAD_MASS__KG_

### Task 7




##### List the total number of successful and failure mission outcomes

In [ ]:
%%sql 
SELECT
  Mission_Outcome,
  COUNT(Mission_Outcome)
FROM
  spacextbl
GROUP BY
  Mission_Outcome

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [ ]:
%%sql 
SELECT
  Booster_Version,
  PAYLOAD_MASS__KG_
FROM
  spacextbl
WHERE
  PAYLOAD_MASS__KG_ = (
    SELECT
      MAX(PAYLOAD_MASS__KG_)
    FROM
      spacextbl
  )

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

In [ ]:
%%sql
SELECT
  monthname (DATE),
  Landing_Outcome,
  Booster_Version,
  Launch_Site
FROM
  spacextbl
WHERE
  Landing_Outcome = "failure (drone ship)"
  AND DATE = 2015

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [ ]:
%%sql
SELECT
  *
FROM
  (
    SELECT
      COUNT(Landing_Outcome) AS frequency,
      Landing_Outcome
    FROM
      spacextbl
    WHERE
      (DATE BETWEEN "2010-06-04" AND "2017-03-20")
    GROUP BY
      Landing_Outcome
    ORDER BY
      frequency desc
  ) AS table1
WHERE
  landing_outcome IN ("Failure (drone ship)", "Success (ground pad)")